@font-face {
	font-family: Arial;
	src:
		local('LiberationSans-Regular'),
		url('chrome-extension://__MSG_@@extension_id__/fonts/LiberationSans-Regular.ttf');
}

@font-face {
	font-family: Verdana;
	src: 
		local('DejaVuSans'),
		url('chrome-extension://__MSG_@@extension_id__/fonts/DejaVuSans.ttf');
}

@font-face {
	font-family: Tahoma;
	src:
		local('DejaVuSans'),
		url('chrome-extension://__MSG_@@extension_id__/fonts/DejaVuSans.ttf');
}

@font-face {
	font-family: Helvetica;
	src:
		local('texgyreheros-regular'),
		url('chrome-extension://__MSG_@@extension_id__/fonts/texgyreheros-regular.woff');
}

@font-face {
	font-family: Helvetica Neue;
	src:
		local('texgyreheros-regular'),
		url('chrome-extension://__MSG_@@extension_id__/fonts/texgyreheros-regular.woff');
}
